h1 {
  font-size: 34px;
  color: red;
}

h2 {
  font-size: 8px;
  color: green;
}
table {
  background-color: red;
border: 2px solid #000;
width: 500px;
box-shadow: 10px 5px 5px black;
}
td{
  border: 1px dotted aqua;
  color: white;
}